---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
    .logo {
        width: 12vmax;
        height: 12vmax;
        margin: 0 auto 2rem;
    }

    .logo svg {
        width: 100%;
        height: 100%;
    }

    .tdbc-hero {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #quickstart+ol li:first-child,
    #quickstart+ol li:first-child p {
        font-size: 1.5rem;
    }
</style>
<header class="tdbc-hero">

    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
        {{ meta.siteDescription }}
    </h2>

</header>

<div class="tdbc-container">
    <p>
        My priorities as a representative would be:
    </p>
    <ul>
        <li>
            <b>Protect the North Fields and Stop Paving Over The Valley:</b> I would work with UDOT to voice the opinion
            of the majority of the residents that we don't want a freeway through the north fields. From the <a
                href="https://hebervalleyeis.udot.utah.gov/wp-content/uploads/2023/01/HVC-EIS-Final-Screening-Report-Fact-Sheet.pdf">EIS
                Study</a>
            I would urge UDOT not to consider the options WB3 and WB4 that pave over more of our valley. I would also
            urge UDOT to take a step back. The federal
            government has over 100 billion dollars waiting for states to apply. Much of this is especially set aside
            for mass transit.
            UDOT should look at creating the Wasatch Back Train connecting Provo, Heber City, Park City to Salt Lake
            City with lines to Coalville and Ogden. With the federal dollars we could look at building a train box,
            (a trench and then capped with concrete) under Main Street and
            look at putting 2 lanes of traffic underground as well.
        </li>
        <li>
            <b>Trails:</b> I am super excited about the trail along the rail coming all the way from Vivian Park to the
            Train
            Depot in Heber City. People will be able to ride their bikes to Vivian park and then ride the Heber Creeper
            back up.
            Lets keep the momentum going we need to follow our <a
                href="https://www.heberut.gov/DocumentCenter/View/1328/Heber-Parks-Final-Plan">master trail plan </a>
            and build the Canal Trails, The Bypass Road trails, and the public trails inside Red Ledges. We need to work
            with the county and build the Lake to
            Lake Trail, a path to Park City, a path to Kamas, a path up Daniels to Strawberry and more.
        </li>
        <li>
            <b>Open Land Preservation:</b> Wasatch County and Heber City currently have planned for the population in
            the valley to increase to over 75,000 people over the next few decades. The County and the City has changed
            zoning, such as when Red Ledges was changed from Mountain Preservation Zoning to allow the current
            subdivision. I think we can do better. We don't have to change zoning to allow developers to build. We can
            enhance our sensitive lands ordinance by expanding the 25 foot
            buffer around streams to 100 feet. We can require more open space and parks with native plants, we can
            increase the impact fee for all these new developments and work with Utah Open Lands to create more
            conservation easements and to purchase more land outright. Higher density built next to mass transit can
            preserve more open space if we use those impact fees to make it happen and prevent more sprawl that is
            paving over our valley.
        </li>
        <li>
            <b>Housing Affordability:</b> High density and mixed use zoning in downtown Heber on the blocks from 100 W
            to 100 E will allow for increased supply. Allow homeowners with their primary residence to build multiple
            ADUs. When we increase the supply
            it will lower the prices. We need to make sure we have mass transit
            such as the Wasatch Back Train and express buses to the Provo and SLC airports so we don't get stuck in
            traffic. Removing parking requirements will allow housing to be more affordable as well. As we build the
            mass
            transit and bus routes then families won't need multiple cars and places to park them.
        </li>
    </ul>

    I would love to chat and hear your ideas for what you want Heber City to become.


    Please call me or text me at (435) 709-5509‬.


    I look forward to hearing from you and working together to shape the future of our home.
    </p>
</div>
<main class="tdbc-container">
    <div class="tdbc-section">
        <ul class="tdbc-column-container">
            {%- for page in collections.pages -%}
            <li class="tdbc-card">
                <div class="tdbc-card__content">
                    <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
                    <p>{{ page.data.description }}</p>
                </div>
            </li>
            {%- endfor -%}
        </ul>
    </div>
    <style>

    </style>

    {{ content | safe }}

</main>
